table {
    table-layout: fixed;
    width: 90%;
    position: relative; 
    margin-left: auto;  
    margin-right: auto; 
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
    background-color: gray;
    text-align: center;
    font-size: 2.2vw;
  } 
    
    th,
    td {
      padding: 20px;
      font-size: 2vw;
      height: auto;
      line-height: 1.5; 
      word-wrap: break-word;
    }
    .button1{
      margin-top: 5%;
      margin-left: 5%;
      width: 90%;
      height: 2cm;
      background-color: #0d771b;
      color: white;
    }
   .text {
      text-align: center;
      margin: 0 auto;
      font-size: 2.7vw;
   }
   

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }
  
  .app-toolbar {
      margin-top: 20px;
      width: 135%;
      background-color: #1976D2; /* Un color azul para la barra */
  }
  
  .nav-link {
      margin-right: 10px;
      color: white; /* Letras blancas para los enlaces */
  }
  
  .nav-link:hover {
      text-decoration: underline; /* Subrayamos al pasar el mouse */
  }
  .app-title {
    margin-right: 30px;  /* Añade margen a la derecha */
  }
  @media (max-width: 480px) {
    table {
        width: 100%;
        font-size: 3vw; /* Aumenta el tamaño de la fuente para mejorar la legibilidad */
    }
  
    th, td {
        padding: 20px; /* Reduce el padding */
        font-size: 2.7vw; /* Ajusta el tamaño de la fuente */
        height: auto;
        line-height: 1.5; 
    }
  
    .button1, .votacion {
        width: 100%;
        height: auto;
        padding: 10px 20px; /* Cambia a padding para que se ajuste mejor */
    }
  
    .text {
        font-size: 2.2vw;
    }
    
    .app-title {
        margin-right: 10px; /* Reduce el margen a la derecha */
    }
  
    /* Aquí puedes añadir o ajustar más estilos para móviles */
  }
  
  
  
  
  .header-container {
    display: flex;
    justify-content: center;  /* Centra el contenido */
    align-items: center;      /* Centra verticalmente el contenido */
    position: relative;   
    top: 10px;    /* Padding adicional para asegurar espacio a la derecha */
  }
  
  .text1 {
    font-size: 2.2vw;
    text-align: center; /* Centra el texto dentro de su espacio */
  }
  
  .user-info {
    position: absolute;
    right: 30px;
    top: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end; 
  }

  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
button {
    margin: 10 100; width: 90%; text-align: center;
    font-family: Poppins-Regular;
    font-size: 1.3rem;
    line-height: 1.5;
    background-color: #13aabe;
    color: black;
    border: 4px solid  #080f4b;  
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
  }
  /* Estilo para la información de la votación */
.votacion-info {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #858282;
    box-shadow: 2px 2px 12px #aaa;
  }
  
  .votacion-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .votacion-info p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Estilo para la tabla de candidatos */
  .candidatos-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .candidatos-table thead {
    background-color: #333;
    color: #000000;
  }
  
  .candidatos-table th,
  .candidatos-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  .candidatos-table tr:nth-child(odd) {
    background-color: #e6e3e3;
  }
  
  .candidatos-table tr:hover {
    background-color: #8d8b8b;
  }
  
  .candidatos-table tbody tr:hover {
    cursor: pointer;
  }

  /* Contenedor principal */
/* Contenedor principal */
.container {
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Botón principal */
.btn-primary {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px; /* Espaciado agregado */
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Tarjeta del panel desplegable */
.card {
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;  /* Espaciado aumentado */
  margin-bottom: 20px;  /* Espaciado agregado */
}

.card-body {
  padding: 20px;
}

/* Inputs del formulario */
.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px 15px;}
  label {
    margin-right: 15px;  /* Agrega margen a la derecha del label */
}

input[type="text"], textarea {
    margin-left: 15px;  /* Agrega margen a la izquierda del cuadro de texto y el área de texto */
}
