<div class="header-container">
  <h1 class="text1">Sesión iniciada </h1>
  <div class="divText">
    <span class="user-name">{{nombreCompleto}}</span>
    <span class="user-email">{{email}}</span>
    <span class="user-role">Rol: {{rolSistema}}</span>
  </div>
</div>

<div class="container">

  <mat-toolbar class="app-toolbar">
      <span class="app-title">Sistema de votación</span>
      <span class="spacer"></span>
  
      <a mat-button routerLink="/inicioSesion" class="nav-link">Inicio</a>
      <a mat-button routerLink="/MisOrganizaciones" class="nav-link">Mis organizaciones</a>
      <a mat-button routerLink="/Ajustes" class="nav-link">Ajustes</a>
      
      <!-- Opción visible solo para admins -->
      <ng-container *ngIf="authService.isAdmin()">
        <a mat-button routerLink="/crearorganizacion" class="nav-link">Crear organización</a>
      </ng-container>
      
      <a mat-button routerLink="/inicioSesion" class="nav-link" (click)="onLogoutClick()">Salir</a>
    </mat-toolbar>
    </div>
    <h1 class="text">Votaciones activas</h1><br>
    <table>
        <tr>
          <th>Organización</th>
          <th>Titulo</th>
          <th>Descripción</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Cierre</th>
          <th>Acción</th>
        </tr>
        <tr *ngFor="let votacion of votacionesActivas">
          <td>{{ votacion.nombreOrganizacion }}</td>
          <td>{{ votacion.tituloVotacion }}</td>
          <td>{{ votacion.descripcion }}</td>
          <td>{{ votacion.fechaInicio }}</td>
          <td>{{ votacion.fechaCierre }}</td>
          <td><button class="votacion" (click)="verVotacion(votacion.idOrganizacion,votacion.idVotacion)">Ver</button>
          </td>
        </tr>
    </table><br>
    
    <h1 class="text">Votaciones finalizadas</h1><br>
    <table>
        <tr>
          <th>Organización</th>
          <th>Titulo</th>
          <th>Descripción</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Cierre</th>
          <th>Accion</th>
        </tr>
        <tr *ngFor="let votacion of votacionesInactivas">
          <td>{{ votacion.nombreOrganizacion }}</td>
          <td>{{ votacion.tituloVotacion }}</td>
          <td>{{ votacion.descripcion }}</td>
          <td>{{ votacion.fechaInicio }}</td>
          <td>{{ votacion.fechaCierre }}</td>
          <td><button class="votacion" (click)="verVotacion(votacion.idOrganizacion,votacion.idVotacion)">Ver</button>
          </td>
        </tr>
    </table>
    <br>