
  h1{
    text-align: center;

    color: black;
    font-size: xx-large;
    font-family: Poppins-Regular;
    line-height: 1.5;
    background-color: #c0acac;
    border: 4px solid  #643c3c;  
    border-radius: 100px;
  }
  p{
  text-align: center;
    margin: auto;
    color: black;
  }

.divcontenedor{
  
  background: #9053c7;
  background: linear-gradient(-135deg, #5e9494, #1e1b4d);
  display: block;
  width: 100%;  
  max-height: 100%;
  max-width: 95%;
  border: 1px solid black;
  margin: auto;
  background-color: #ffffff;
  border-radius: 25px;
  
}

  .button1 {
    margin: 10 100; width: 90%; text-align: center;
    font-family: Poppins-Regular;
    font-size: 30px;
    line-height: 1.5;
    background-color: #15da2f;
    color: black;
    border: 4px solid  #084b11;  
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
  }
  
  .button1:hover {
    background-color: #0d771b;
    color: white;
  }


  .texto{
    font-family: Poppins-Regular;
    font-size: xx-large;
    line-height: 1.5;
    color: #000000;
  }




.texto-crearCuenta{
  text-align: center;
    margin: 10%;
    color: black;
    font-size: xx-large;
    font-family: Poppins-Regular;
    line-height: 1.5;
    background-color: #6e6e6e;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    
}




 
  
.validate-input {
  position: relative;
}

.wrap-input100 {
  position: relative;
  width: 80%;
  max-height: 100%;
  max-width: 90%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 60%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.input100:hover  {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 60%;
  background: #d4fdc9;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  height: 50%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(50, 223, 19, 0.8);
}

.div2{
  margin-left: 10%;
}

.login100-pic {
  padding:30px;
  margin-top: 2%;
  width: 100px;
}

@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 20px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}

.login100-pic {
  width: 700px;
}

.login100-pic img {
  max-width: 100%;
}



