
<h1 class="text">Sesion iniciada</h1>
<h1 class="text">Mis votaciones activas</h1>

<table>
    <tr>
      <th>Numero</th>
      <th>Titulo</th>
      <th>Participantes</th>
      <th>Accion</th>
    </tr>
    <tr>
      <td>0</td>
      <td>Presidente del departamento</td>
      <td>32</td>
      <td>
        <a routerLink=""><button class="votacion">Votar</button></a></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Pintura de las paredes</td>
      <td>25</td>
      <td>
        <a routerLink=""><button class="votacion">Votar</button></a></td>
    </tr>
  </table>
<a routerLink=""><button class="button1">Iniciar sesion</button></a>