body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 14px;
}
.btn-margin {
    margin-left: 10px;  /* Ajusta el valor según tus necesidades */
}

button.btn {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #0056b3;
}


    .button1{
      margin-top: 5%;
      margin-left: 5%;
      width: 90%;
      height: 2cm;
      background-color: #0d771b;
      color: white;
    }
   .text {
      text-align: center;
      margin: 0 auto;
      font-size: 2.7vw;
   }
   
   .votacion{
      width: 90%;
      height: 2cm;
      background-color: #be6318;
      color: white;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }
  .divText{
    padding-left: 5%;
    width: 90%;
  }
  
  .app-toolbar {
      margin-top: 20px;
      width: 100%;
      background-color: #1976D2;
  }
  
  .nav-link {
      margin-right: 10px;
      color: white;
  }
  
  .nav-link:hover {
      text-decoration: underline;
  }
  .app-title {
    margin-right: 30px; 
  }
  @media (max-width: 480px) {
    table {
        width: 100%;
        font-size: 3vw;
    }
  
    th, td {
        padding: 10px; 
        font-size: 2.7vw; 
    }
  
    .button1, .votacion {
        width: 100%;
        height: auto;
        padding: 10px 20px; 
    }
  
    .text {
        font-size: 2.7vw;
    }
    
    .app-title {
        margin-right: 10px;
    }
  
  }


.winner-section {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.winner-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color: #2c3e50;
}

.winner-details p {
    margin: 10px 0;
    font-size: 20px;
}

.spacer {
    height: 30px;
}

.table td {
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.table td {
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table td {
    font-size: 2.2vw; 
}

.table td {
    min-height: 2.5em; 
    line-height: 1.4;   
}


  