
<br><h1 class="text">Sesión iniciada</h1>
<br>
<h1 class="text">Resultados Votación</h1>
<div class="container">

<mat-toolbar class="app-toolbar">
    <span class="app-title">Sistema de votación</span>
    <span class="spacer"></span>

    <a mat-button routerLink="/inicioSesion" class="nav-link">Inicio</a>
    <a mat-button routerLink="/MisOrganizaciones" class="nav-link">Mis organizaciones</a>
    <a mat-button routerLink="/Ajustes" class="nav-link">Ajustes</a>
    
    <!-- Opción visible solo para admins -->
    <ng-container *ngIf="authService.isAdmin()">
      <a mat-button routerLink="/crearorganizacion" class="nav-link">Crear organización</a>
    </ng-container>
    
    <a mat-button routerLink="/inicioSesion" class="nav-link" (click)="onLogoutClick()">Salir</a>
  </mat-toolbar>
  </div>
 <!-- Sección del candidato ganador -->
 <div class="winner-section" *ngIf="candidatoGanador">
  <h2>Candidato Ganador</h2>
  <div class="winner-details">
      <p><strong>ID Candidato:</strong> {{ candidatoGanador.idCandidato }}</p>
      <p><strong>Nombre del Candidato:</strong> {{ candidatoGanador.nombreCandidato }}</p>
      <p><strong>Descripción del Perfil:</strong> {{ candidatoGanador.descripcionPerfil }}</p>
      <p><strong>Transaction Hash:</strong> {{ candidatoGanador.transaccionHash }}</p>
  </div>
</div>

<!-- Espaciado -->
<div class="spacer "></div>
<div class="winner-section">
<label class="text2">Consulta de transacciones de votos</label>
<br>
  <table class="table">
    <thead>
      <tr>
        <th class="text1">ID</th>
        <th class="text1">Timestamp</th>
        <th class="text1">Transaction Hash</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos; let i = index">
        <th class="text1">{{ i + 1 }}</th>
        <td>{{ dato.timestamp }}</td>
        <td>{{ dato.transaccionHash }}</td>
      </tr>
    </tbody>
  </table>
</div>

  